@mixin link-style(){
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
  background-color: rgba(18, 18, 18, 1);
  color: rgba(255, 255, 255, 0.87);
}

li {
  list-style: none;
}

.container {
  width: 900px;
  margin: auto;
}

nav {
  margin: 20px 0;
  display: flex;
  height: 60px;
  align-items: center;
  h1 {
    font-size: 35px;
  }
  ul {
    display: flex;
    margin-left: auto;
    li {
      margin-right: 20px;
      text-decoration: none;
      a {
        @include link-style();
      }
    }
  }
}

.greeting {
  margin: 350px 0;
  font-size: 50px;
  text-align: center;
}

.contact-outer {
  margin: 0 auto 20px auto;
  width: 60%;
  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 50px;
  }
  .contact-inner {
    align-items: center;
    display: flex;
  }
  .contact-link {
    display: flex;
    align-items: center;
    i {
      margin-right: 10px;
    }
    a {
      @include link-style();
      display: block;
    }
  }
}

footer {
  height: 100px;
  display: flex;
  align-items: center;
  border-top: 1px solid black;
  .fa-brands {
    margin-right: 10px;
  }
  .footer-texts {
    display: flex;
    align-items: center;
  }
  .footer-link {
    margin-left: auto;
    a {
      @include link-style();
      margin-left: 20px;
    }
  }
}
