html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: rgba(18, 18, 18, 1);
  color: rgba(255, 255, 255, 0.87);
}

.container {
  width: 1100px;
  margin: auto;
}

nav {
  margin: 20px 0;
  display: flex;
  height: 60px;
  align-items: center;
}

nav h1 {
  font-size: 35px;
}

nav ul {
  display: flex;
  margin-left: auto;
}

nav li {
  margin-right: 20px;
  text-decoration: none;
}

a {
  color: rgba(255, 255, 255, 0.87);
}

.greeting {
  margin: 350px 0;
  font-size: 50px;
  text-align: center;
}


.contact {
  display: flex;
  position: relative;
}

.contact img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.container-contact {
  display: flex;
}

.contact-bottom i {
  margin-right: 10px;
  align-items: center;
}

footer {
  height: 100px;
  display: flex;
  align-items: center;
  border-top: 1px solid black;
}

.fa-brands {
  margin-right: 10px;
}

.footer-texts {
  width: 1100px;
  margin: auto;
  display: flex;
  align-items: center;
}

.footer-link {
  margin-left: auto;
}

.footer-link a  {
  margin-left: 20px;
}
